# SAMSHA MH-CLD

## Environment

In [1]:
# setting the random seed for reproducibility
import random
random.seed(493)

import os

# for manipulating dataframes
import pandas as pd

In [2]:
# to print out all the outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

## Data Acquisition and Wrangling

In [3]:
# Define the folder path
folder_path = '../data/csv'

# Loop through the years and create DataFrames dynamically
for year in range(2013, 2023):  # From 2013 to 2022 inclusive
    file_name = f'mhcld_puf_{year}.csv'
    file_path = os.path.join(folder_path, file_name)
    
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Dynamically assign the DataFrame to a variable name
    globals()[f'df_{year}'] = df

In [4]:
for year in range(2013, 2023):  # From 2013 to 2022 inclusive
    df_name = f'df_{year}'
    if df_name in globals():  # Check if the DataFrame exists
        print(f"Head of {df_name}:")
        globals()[df_name].head()

Head of df_2013:

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2013,8,4,4,5,2,1,1,1,2,2,11,13,10,-9,1,1,2,4,-9,-9,3,3,0,0,0,0,0,0,0,0,0,1,1,0,1,1,6,3,20130000001
1,2013,6,3,-9,3,2,1,1,2,2,2,11,-9,-9,13,1,1,1,4,-9,-9,3,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20130000002
2,2013,6,4,-9,6,1,2,1,2,2,2,11,13,-9,-9,1,1,2,-9,-9,-9,2,2,0,0,0,0,0,0,0,0,0,0,1,0,1,1,6,3,20130000003
3,2013,9,2,-9,6,1,2,1,2,2,2,11,-9,-9,-9,1,1,1,-9,-9,-9,-9,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20130000004
4,2013,10,3,4,1,1,1,2,2,2,2,6,-9,-9,4,1,1,1,-9,-9,-9,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,6,3,20130000005

Head of df_2014:

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2014,3,3,-9,6,2,1,1,2,2,2,-9,-9,-9,-9,1,3,1,5,2,-9,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20140000001
1,2014,6,2,-9,6,1,2,1,2,2,2,11,2,-9,-9,1,1,2,4,-9,-9,2,2,0,1,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20140000002
2,2014,3,-9,-9,-9,-9,2,1,2,2,2,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20140000003
3,2014,12,2,-9,1,1,2,1,2,2,2,11,-9,-9,-9,1,1,2,-9,-9,-9,-9,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20140000004
4,2014,14,-9,4,-9,2,1,1,2,2,2,11,-9,-9,-9,4,1,2,4,-9,-9,3,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20140000005

Head of df_2015:

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2015,3,2,2,-9,1,1,2,2,2,2,-9,-9,-9,-9,1,2,1,-9,-9,-9,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20150000001
1,2015,4,-9,2,6,2,2,1,2,2,2,6,-9,-9,-9,1,1,2,5,5,-9,2,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,6,3,20150000002
2,2015,12,4,-9,1,1,2,1,2,2,2,11,13,-9,-9,1,1,2,-9,-9,-9,-9,2,0,0,0,0,0,0,0,0,0,0,1,0,1,1,6,3,20150000003
3,2015,13,4,-9,5,1,2,1,2,2,2,7,13,-9,-9,1,1,2,5,5,-9,2,2,0,0,0,0,0,0,1,0,0,0,0,0,1,1,6,3,20150000004
4,2015,4,4,4,3,1,1,2,2,2,2,5,13,-9,11,1,3,1,-9,-9,-9,1,2,0,0,0,0,1,0,0,0,0,0,0,0,1,1,6,3,20150000005

Head of df_2016:

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2016,-9,2,4,3,1,2,1,2,2,2,-9,-9,-9,-9,1,1,2,-9,-9,-9,-9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20160000001
1,2016,3,-9,3,6,2,2,1,2,2,2,-9,-9,-9,-9,-9,2,2,-9,-9,-9,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20160000002
2,2016,6,-9,-9,2,2,2,1,2,2,2,1,-9,-9,-9,2,-9,-9,5,3,-9,-9,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20160000003
3,2016,3,3,-9,6,2,2,1,2,2,2,6,1,-9,11,1,2,1,5,2,-9,2,2,1,0,0,0,0,1,0,0,0,0,0,0,0,1,6,3,20160000004
4,2016,12,2,4,2,1,2,1,2,2,2,-9,-9,-9,-9,4,1,2,5,5,-9,-9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20160000005

Head of df_2017:

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2017,5,5,4,5,2,1,2,2,2,2,13,2,-9,-9,1,1,2,-9,-9,-9,3,2,0,1,0,0,0,0,0,0,0,0,0,0,1,1,6,3,20170000001
1,2017,1,-9,-9,-9,1,2,1,2,2,2,13,-9,-9,-9,1,2,2,-9,-9,2,-9,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,6,3,20170000002
2,2017,9,4,4,3,2,1,2,2,2,2,11,10,-9,-9,1,1,2,-9,-9,-9,3,2,0,0,0,0,0,0,0,0,0,1,1,0,0,1,6,3,20170000003
3,2017,13,-9,4,3,1,1,1,1,2,2,11,6,-9,13,3,1,1,-9,-9,-9,-9,2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,6,3,20170000004
4,2017,3,-9,4,6,-9,2,1,2,2,2,-9,-9,-9,-9,1,-9,2,-9,-9,2,-9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20170000005

Head of df_2018:

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2018,9,4,2,3,2,2,1,2,2,2,11,-9,-9,-9,1,1,2,5,1,2,2,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20180000001
1,2018,3,3,4,3,1,1,1,2,2,2,13,3,-9,-9,1,2,2,-9,-9,-9,2,2,0,0,1,0,0,0,0,0,0,0,0,0,1,1,6,3,20180000002
2,2018,7,-9,3,6,2,2,1,1,2,2,6,13,-9,6,1,1,1,4,-9,-9,-9,2,0,0,0,0,0,1,0,0,0,0,0,0,1,1,6,3,20180000003
3,2018,6,4,4,6,1,1,1,2,2,2,11,-9,-9,6,1,1,1,5,5,-9,3,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20180000004
4,2018,13,-9,3,6,2,2,1,1,2,2,11,-9,-9,-9,4,1,2,-9,-9,-9,-9,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20180000005

Head of df_2019:

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2019,11,-9,3,2,1,2,1,2,2,2,7,-9,-9,-9,1,1,2,-9,-9,-9,-9,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,6,3,20190000001
1,2019,2,2,4,5,2,1,1,2,2,2,1,13,-9,-9,1,2,2,-9,-9,-9,2,2,1,0,0,0,0,0,0,0,0,0,0,0,1,1,6,3,20190000002
2,2019,7,-9,3,6,2,2,1,1,2,2,11,2,-9,-9,1,1,2,-9,-9,-9,-9,2,0,1,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20190000003
3,2019,2,-9,4,6,1,2,1,2,1,2,13,-9,-9,-9,1,2,2,-9,-9,-9,-9,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,6,3,20190000004
4,2019,14,4,4,6,2,1,2,2,2,2,7,-9,-9,-9,4,1,2,-9,-9,2,3,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,6,3,20190000005

Head of df_2020:

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,-9,4,3,1,1,1,1,2,2,5,11,-9,-9,1,1,1,-9,-9,-9,3,2,0,0,0,0,1,0,0,0,0,0,1,0,0,1,6,3,20200000001
1,2020,1,2,4,1,1,2,1,2,2,2,13,2,3,-9,1,2,2,-9,-9,-9,-9,3,0,1,1,0,0,0,0,0,0,0,0,0,1,1,6,3,20200000002
2,2020,3,3,4,6,2,2,1,2,1,2,1,2,-9,-9,-9,2,2,5,5,-9,2,2,1,1,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20200000003
3,2020,12,4,4,1,1,1,1,2,2,2,11,10,-9,5,-9,1,1,2,-9,-9,3,2,0,0,0,0,0,0,0,0,0,1,1,0,0,1,6,3,20200000004
4,2020,8,3,3,5,1,2,1,1,2,2,10,-9,-9,10,-9,1,1,1,-9,-9,3,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,6,3,20200000005

Head of df_2021:

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2021,13,5,4,5,1,1,2,2,2,2,-9,-9,-9,-9,1,1,2,-9,-9,2,-9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20210000001
1,2021,7,-9,3,3,1,1,1,2,2,2,11,-9,-9,9,1,1,1,-9,-9,-9,3,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20210000002
2,2021,12,-9,4,2,1,1,1,1,2,2,11,-9,-9,-9,1,1,1,-9,-9,-9,-9,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20210000003
3,2021,14,-9,3,3,2,2,1,2,2,2,11,-9,-9,-9,1,-9,-9,-9,-9,-9,-9,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20210000004
4,2021,3,3,4,5,1,1,1,2,2,2,2,3,-9,-9,1,2,2,-9,-9,-9,2,2,0,1,1,0,0,0,0,0,0,0,0,0,0,1,6,3,20210000005

Head of df_2022:

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2022,14,-9,3,3,2,2,1,2,2,2,11,-9,-9,-9,1,-9,-9,-9,-9,-9,-9,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20220000001
1,2022,7,3,3,4,1,2,1,2,2,2,7,11,-9,-9,2,1,1,4,-9,2,2,2,0,0,0,0,0,0,1,0,0,0,1,0,0,1,6,3,20220000002
2,2022,8,3,3,-9,2,2,1,1,2,2,-9,-9,-9,-9,1,3,2,4,-9,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,6,3,20220000003
3,2022,14,4,4,2,2,1,1,2,2,2,11,-9,-9,-9,4,1,2,5,1,2,3,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20220000004
4,2022,3,-9,4,6,2,2,1,1,2,2,7,2,-9,-9,1,2,1,-9,-9,-9,-9,2,0,1,0,0,0,0,1,0,0,0,0,0,0,1,6,3,20220000005

### Concatenate all years into one dataframe

In [5]:
# Collect all DataFrames in a list
dfs = [globals()[f'df_{year}'] for year in range(2013, 2023) if f'df_{year}' in globals()]

# Concatenate them into a single DataFrame
df = pd.concat(dfs, ignore_index=True)

In [6]:
df.shape

(61589330, 40)

In [7]:
df.head()

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,IJSSERVICE,MH1,MH2,MH3,SUB,MARSTAT,SMISED,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG,NUMMHS,TRAUSTREFLG,ANXIETYFLG,ADHDFLG,CONDUCTFLG,DELIRDEMFLG,BIPOLARFLG,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2013,8,4,4,5,2,1,1,1,2,2,11,13,10,-9,1,1,2,4,-9,-9,3,3,0,0,0,0,0,0,0,0,0,1,1,0,1,1,6,3,20130000001
1,2013,6,3,-9,3,2,1,1,2,2,2,11,-9,-9,13,1,1,1,4,-9,-9,3,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20130000002
2,2013,6,4,-9,6,1,2,1,2,2,2,11,13,-9,-9,1,1,2,-9,-9,-9,2,2,0,0,0,0,0,0,0,0,0,0,1,0,1,1,6,3,20130000003
3,2013,9,2,-9,6,1,2,1,2,2,2,11,-9,-9,-9,1,1,1,-9,-9,-9,-9,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,6,3,20130000004
4,2013,10,3,4,1,1,1,2,2,2,2,6,-9,-9,4,1,1,1,-9,-9,-9,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,6,3,20130000005

### Check for null values

In [8]:
def show_missing(df):
    """
    Takes a dataframe and returns a dataframe with stats
    on missing and null values with their percentages.
    """
    null_count = df.isnull().sum()
    null_percentage = (null_count / df.shape[0]) * 100
    empty_count = pd.Series(((df == ' ') | (df == '')).sum())
    empty_percentage = (empty_count / df.shape[0]) * 100
    nan_count = pd.Series(((df == 'nan') | (df == 'NaN')).sum())
    nan_percentage = (nan_count / df.shape[0]) * 100
    dfx = pd.DataFrame({'num_missing': null_count, 'missing_percentage': null_percentage,
                         'num_empty': empty_count, 'empty_percentage': empty_percentage,
                         'nan_count': nan_count, 'nan_percentage': nan_percentage})
    return dfx

show_missing(df)

,num_missing,missing_percentage,num_empty,empty_percentage,nan_count,nan_percentage
YEAR,0,0.0,0,0.0,0,0.0
AGE,0,0.0,0,0.0,0,0.0
EDUC,0,0.0,0,0.0,0,0.0
ETHNIC,0,0.0,0,0.0,0,0.0
RACE,0,0.0,0,0.0,0,0.0
GENDER,0,0.0,0,0.0,0,0.0
SPHSERVICE,0,0.0,0,0.0,0,0.0
CMPSERVICE,0,0.0,0,0.0,0,0.0
OPISERVICE,0,0.0,0,0.0,0,0.0
RTCSERVICE,0,0.0,0,0.0,0,0.0
IJSSERVICE,0,0.0,0,0.0,0,0.0
MH1,0,0.0,0,0.0,0,0.0
MH2,0,0.0,0,0.0,0,0.0
MH3,0,0.0,0,0.0,0,0.0
SUB,0,0.0,0,0.0,0,0.0
MARSTAT,0,0.0,0,0.0,0,0.0
SMISED,0,0.0,0,0.0,0,0.0
SAP,0,0.0,0,0.0,0,0.0
EMPLOY,0,0.0,0,0.0,0,0.0
DETNLF,0,0.0,0,0.0,0,0.0
VETERAN,0,0.0,0,0.0,0,0.0
LIVARAG,0,0.0,0,0.0,0,0.0
NUMMHS,0,0.0,0,0.0,0,0.0
TRAUSTREFLG,0,0.0,0,0.0,0,0.0
ANXIETYFLG,0,0.0,0,0.0,0,0.0
ADHDFLG,0,0.0,0,0.0,0,0.0
CONDUCTFLG,0,0.0,0,0.0,0,0.0
DELIRDEMFLG,0,0.0,0,0.0,0,0.0
BIPOLARFLG,0,0.0,0,0.0,0,0.0
DEPRESSFLG,0,0.0,0,0.0,0,0.0
ODDFLG,0,0.0,0,0.0,0,0.0
PDDFLG,0,0.0,0,0.0,0,0.0
PERSONFLG,0,0.0,0,0.0,0,0.0
SCHIZOFLG,0,0.0,0,0.0,0,0.0
ALCSUBFLG,0,0.0,0,0.0,0,0.0
OTHERDISFLG,0,0.0,0,0.0,0,0.0
STATEFIP,0,0.0,0,0.0,0,0.0
DIVISION,0,0.0,0,0.0,0,0.0
REGION,0,0.0,0,0.0,0,0.0
CASEID,0,0.0,0,0.0,0,0.0

### Show value counts

In [9]:
def display_value_counts(df, exclude_columns=None):
    """
    Display value counts for each column in the DataFrame, except for those specified in exclude_columns.
    
    Parameters:
    - df (pd.DataFrame): The DataFrame to analyze.
    - exclude_columns (list): List of column names to exclude from value counts. Default is None.
    """
    if exclude_columns is None:
        exclude_columns = []
    
    for column in df.columns:
        if column not in exclude_columns:
            print(f"Value counts for column: {column}")
            print(df[column].value_counts())
            print("\n" + "-" * 50 + "\n")

In [10]:
display_value_counts(df, ['CASEID'])

Value counts for column: YEAR
YEAR
2022    6957919
2020    6948994
2019    6544803
2021    6516527
2018    6409859
2017    6159592
2014    5696772
2016    5643004
2013    5546606
2015    5165254
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: AGE
AGE
 1     8321315
 6     5242678
 7     5241385
 8     4720707
 3     4605717
 11    4392108
 2     4360107
 9     4182612
 10    4166352
 12    3980425
 5     3552374
 14    3110731
 4     2865489
 13    2781415
-9       65915
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: EDUC
EDUC
-9    34334328
 4     9755150
 2     7351978
 3     5211134
 5     4673334
 1      263406
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: ETHNIC
ETHNIC
 4    43226368
-9     8843936
 3     8666206
 1      490303
 2      362517
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: RACE
RACE
 5    36929198
 3    11339401
 6     5722642
-9     5675016
 1      946041
 2      824179
 4      152853
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: GENDER
GENDER
 2    31814281
 1    29606603
-9      168446
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: SPHSERVICE
SPHSERVICE
2    60374727
1     1214603
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: CMPSERVICE
CMPSERVICE
1    60011666
2     1577664
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: OPISERVICE
OPISERVICE
2    59271582
1     2317748
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: RTCSERVICE
RTCSERVICE
2    60959397
1      629933
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: IJSSERVICE
IJSSERVICE
2    60934967
1      654363
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: MH1
MH1
 7     13455011
-9      8563235
 1      7636571
 6      6694821
 11     6453360
 2      5923000
 3      4127372
 13     3777133
 12     1785047
 8      1007868
 4       935472
 9       633478
 10      409842
 5       187120
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: MH2
MH2
-9     41494436
 13     4558492
 2      4425449
 1      2528169
 7      2428341
 3      1575152
 12     1038727
 6       864223
 10      847977
 8       631882
 11      530761
 4       311137
 9       256493
 5        98091
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: MH3
MH3
-9     56735812
 13     1237244
 2       769566
 1       617350
 7       453763
 3       442697
 10      403389
 12      270857
 6       202393
 8       164223
 11      103104
 4        85866
 9        77441
 5        25625
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: SUB
SUB
-9     53082428
 8      1681786
 4      1598216
 7      1156349
 11      841004
 6       791112
 9       717470
 13      630910
 3       328212
 5       297271
 10      136884
 12      125382
 1       111720
 2        90586
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: MARSTAT
MARSTAT
-9    26733428
 1    25075747
 4     4422334
 2     3831019
 3     1526802
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: SMISED
SMISED
 1    30348560
 3    15700332
 2    11998221
-9     3542217
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: SAP
SAP
 2    40100535
 1    14220318
-9     7268477
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: EMPLOY
EMPLOY
-9    38493206
 5    11482515
 4     6535414
 1     2551800
 2     1676479
 3      849916
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: DETNLF
DETNLF
-9    50106815
 1     4984062
 5     4110713
 2     1839375
 3      436833
 4      111532
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: VETERAN
VETERAN
-9    46801212
 2    14358656
 1      429462
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: LIVARAG
LIVARAG
 2    31453564
-9    24541217
 3     4135923
 1     1458626
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: NUMMHS
NUMMHS
1    32931093
2    15241592
0     8563235
3     4853410
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: TRAUSTREFLG
TRAUSTREFLG
0    50807240
1    10782090
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: ANXIETYFLG
ANXIETYFLG
0    50471315
1    11118015
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: ADHDFLG
ADHDFLG
0    55444109
1     6145221
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: CONDUCTFLG
CONDUCTFLG
0    60256855
1     1332475
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: DELIRDEMFLG
DELIRDEMFLG
0    61278494
1      310836
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: BIPOLARFLG
BIPOLARFLG
0    53827893
1     7761437
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: DEPRESSFLG
DEPRESSFLG
0    45252215
1    16337115
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: ODDFLG
ODDFLG
0    59785357
1     1803973
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: PDDFLG
PDDFLG
0    60621918
1      967412
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: PERSONFLG
PERSONFLG
0    59928122
1     1661208
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: SCHIZOFLG
SCHIZOFLG
0    54502105
1     7087225
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: ALCSUBFLG
ALCSUBFLG
0    58494699
1     3094631
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: OTHERDISFLG
OTHERDISFLG
0    52017654
1     9571676
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: STATEFIP
STATEFIP
6     6745836
42    5242697
48    3833706
34    3793407
39    3724650
27    2513309
4     2328502
12    2203001
19    1855065
24    1809486
21    1566539
53    1558099
35    1520942
37    1463888
26    1449566
41    1387840
18    1363865
8     1309796
51    1206533
47    1059385
1      992900
40     965259
9      920300
28     903887
45     896151
29     776625
55     775617
17     768910
5      733773
30     582092
36     542955
49     541932
20     429804
22     420732
13     395466
11     379217
44     320116
25     286585
50     280698
31     233771
32     221947
56     164248
46     159659
16     150920
38     139396
23     120738
10     113733
72     108495
15     104710
33      93523
54      84118
2       40493
99       4448
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: DIVISION
DIVISION
9    9836978
2    9579059
5    8551593
3    8082608
8    6820379
4    6107629
7    5953470
6    4522711
1    2021960
0     112943
Name: count, dtype: int64

--------------------------------------------------

Value counts for column: REGION
REGION
3    19027774
4    16657357
2    14190237
1    11601019
0      112943
Name: count, dtype: int64

--------------------------------------------------

### Rename CASEID

In [12]:
# Add underscore to CASEID
df = df.rename(columns={'CASEID':'_caseid',})

### Drop unnecessary columns

In [13]:
df = df.drop(columns=['EDUC',
                      'ETHNIC',
                      'SPHSERVICE',
                      'CMPSERVICE',
                      'OPISERVICE',
                      'RTCSERVICE',
                      'IJSSERVICE',
                      'NUMMHS',
                      'DIVISION',
                     ])

### Remapping of values and labels

In [14]:
# Mapping of values to labels for AGE
age_mapping = {
    1: '0-11 years',
    2: '12-14 years',
    3: '15-17 years',
    4: '18-20 years',
    5: '21-24 years',
    6: '25-29 years',
    7: '30-34 years',
    8: '35-39 years',
    9: '40-44 years',
    10: '45-49 years',
    11: '50-54 years',
    12: '55-59 years',
    13: '60-64 years',
    14: '65 years and older',
    -9: 'Missing/unknown/not collected/invalid'
}

# Recode the AGE column
df['_age'] = df['AGE'].map(age_mapping)

# Remove AGE column
df = df.drop(columns=['AGE'])

In [15]:
# Mapping of values to labels
race_mapping = {
    1: 'American Indian/Alaska Native',
    2: 'Asian',
    3: 'Black or African American',
    4: 'Native Hawaiian or Other Pacific Islander',
    5: 'White',
    6: 'Some other race alone/two or more races',
    -9: 'Missing/unknown/not collected/invalid'
}

# Recode the RACE column
df['_race'] = df['RACE'].map(race_mapping)

# Remove the original RACE column
df = df.drop(columns=['RACE'])

In [16]:
# Mapping of values to labels
gender_mapping = {
    1: 'Male',
    2: 'Female',
    -9: 'Missing/unknown/not collected/invalid'
}

# Recode the RACE column
df['_gender'] = df['GENDER'].map(race_mapping)

# Remove the original RACE column
df = df.drop(columns=['GENDER'])

In [17]:
# Mapping of values to labels
mh_mapping = {
    1: 'Trauma- and stressor-related disorders',
    2: 'Anxiety disorders',
    3: 'Attention deficit/hyperactivity disorder (ADHD)',
    4: 'Conduct disorders',
    5: 'Delirium/dementia disorders',
    6: 'Bipolar disorders',
    7: 'Depressive disorders',
    8: 'Oppositional defiant disorders',
    9: 'Pervasive developmental disorders',
    10: 'Personality disorders',
    11: 'Schizophrenia or other psychotic disorders',
    12: 'Alcohol or substance use disorders',
    13: 'Other disorders/conditions',
    -9: 'Missing/unknown/not collected/invalid/no or deferred diagnosis'
}

# Recode the MH1 column
df['_mh1'] = df['MH1'].map(mh_mapping)

# Recode the MH2 column
df['_mh2'] = df['MH2'].map(mh_mapping)

# Recode the MH3 column
df['_mh3'] = df['MH3'].map(mh_mapping)

# Remove the original MH1 column
df = df.drop(columns=['MH1', 'MH2', 'MH3'])

In [18]:
# Mapping of values to labels
sub_mapping = {
    1: 'Alcohol-induced disorder',
    2: 'Alcohol intoxication',
    3: 'Substance-induced disorder',
    4: 'Alcohol dependence',
    5: 'Cocaine dependence',
    6: 'Cannabis dependence',
    7: 'Opioid dependence',
    8: 'Other substance dependence',
    9: 'Alcohol abuse',
    10: 'Cocaine abuse',
    11: 'Cannabis abuse',
    12: 'Opioid abuse',
    13: 'Other substance related conditions',
    -9: 'Missing/unknown/not collected/invalid/no or deferred diagnosis'
}

# Recode the SUB column
df['_substance_use'] = df['SUB'].map(sub_mapping)

# Drop the original SUB column
df = df.drop(columns=['SUB'])

In [19]:
# Mapping of values to labels
marstat_mapping = {
    1: 'Never married',
    2: 'Now married',
    3: 'Separated',
    4: 'Divorced, widowed',
    -9: 'Missing/unknown/not collected/invalid'
}

# Recode the MARSTAT column
df['_marital_status'] = df['MARSTAT'].map(marstat_mapping)

# Drop the original SUB column
df = df.drop(columns=['MARSTAT'])

In [20]:
# Mapping of values to labels
smised_mapping = {
    1: 'SMI',
    2: 'SED and/or at risk for SED',
    3: 'Not SMI/SSED',
    4: 'Divorced, widowed',
    -9: 'Missing/unknown/not collected/invalid'
}

# Recode the SMISED column
df['_smi_sed'] = df['SMISED'].map(smised_mapping)

# Drop the original SUB column
df = df.drop(columns=['SMISED'])

In [22]:
# Mapping of values to labels
sap_mapping = {
    1: 'Yes',
    2: 'No',
    -9: 'Missing/unknown/not collected/invalid'
}

# Recode the SAP column
df['_substance_abuse_problem'] = df['SAP'].map(sap_mapping)

# Drop the original SUB column
df = df.drop(columns=['SAP'])

In [23]:
# Mapping of values to labels
employment_mapping = {
    1: 'Full-time',
    2: 'Part-time',
    3: 'Employed full-time/part-time not differentiated',
    4: 'Unemployed',
    5: 'Not in labor force',
    -9: 'Missing/unknown/not collected/invalid'
}

# Recode the EMPLOY column
df['_employment'] = df['EMPLOY'].map(employment_mapping)

# Drop the original EMPLOY column
df = df.drop(columns=['EMPLOY'])

In [24]:
# Mapping of values to labels
not_in_labor_force_mapping = {
    1: 'Retired, disabled',
    2: 'Student',
    3: 'Homemaker',
    4: 'Sheltered/non-competitive employment',
    5: 'Other',
    -9: 'Missing/unknown/not collected/invalid'
}

# Recode the DETNLF column
df['_not_in_labor_force_detail'] = df['DETNLF'].map(not_in_labor_force_mapping)

# Drop the original DETNLF column
df = df.drop(columns=['DETNLF'])

In [25]:
# Mapping of values to labels
vet_mapping = {
    1: 'Yes',
    2: 'No',
    -9: 'Missing/unknown/not collected/invalid'
}

# Recode the SAP column
df['_veteran_status'] = df['VETERAN'].map(vet_mapping)

# Drop the original SUB column
df = df.drop(columns=['VETERAN'])

In [26]:
# Mapping of values to labels
residential_status_mapping = {
    1: 'Experiencing Homelessness',
    2: 'Private residence',
    3: 'Other',
    -9: 'Missing/unknown/not collected/invalid'
}

# Recode the LIVARAG column
df['_residential_status'] = df['LIVARAG'].map(residential_status_mapping)

# Drop the original LIVARAG column
df = df.drop(columns=['LIVARAG'])

In [27]:
# Mapping of values to labels
disorder_mapping = {
    0: 'Disorder not reported',
    1: 'Disorder reported'
}

# Function to recode and drop the original column
def recode_and_drop_column(df, old_column, new_column, value_mapping):
    # Recode the old column based on the mapping
    df[new_column] = df[old_column].map(value_mapping)
    
    # Drop the old column
    df = df.drop(columns=[old_column])
    
    return df

In [28]:
df = recode_and_drop_column(df, 'TRAUSTREFLG', '_trauma_stressor_related_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'ANXIETYFLG', '_anxiety_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'ADHDFLG', '_attention_deficit_hyperactivity_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'CONDUCTFLG', '_conduct_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'DELIRDEMFLG', '_delirium_dementia_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'BIPOLARFLG', '_bipolar_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'DEPRESSFLG', '_depressive_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'ODDFLG', '_oppositional_defiant_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'PDDFLG', '_pervasive_developmental_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'PERSONFLG', '_personality_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'SCHIZOFLG', '_schizophrenia_other_pyschotic_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'ALCSUBFLG', '_alcohol_or_substance_abuse_disorder', disorder_mapping)
df = recode_and_drop_column(df, 'OTHERDISFLG', '_other_mental_disorder', disorder_mapping)

In [29]:
# Mapping of STATEFIP values to labels
state_mapping = {
    1: 'Alabama', 2: 'Alaska', 4: 'Arizona', 5: 'Arkansas', 6: 'California',
    8: 'Colorado', 9: 'Connecticut', 10: 'Delaware', 11: 'District of Columbia',
    12: 'Florida', 13: 'Georgia', 15: 'Hawaii', 16: 'Idaho', 17: 'Illinois',
    18: 'Indiana', 19: 'Iowa', 20: 'Kansas', 21: 'Kentucky', 22: 'Louisiana',
    24: 'Maryland', 25: 'Massachusetts', 26: 'Michigan', 27: 'Minnesota',
    28: 'Mississippi', 29: 'Missouri', 30: 'Montana', 31: 'Nebraska', 32: 'Nevada',
    33: 'New Hampshire', 34: 'New Jersey', 35: 'New Mexico', 36: 'New York',
    37: 'North Carolina', 38: 'North Dakota', 39: 'Ohio', 40: 'Oklahoma', 41: 'Oregon',
    42: 'Pennsylvania', 44: 'Rhode Island', 45: 'South Carolina', 46: 'South Dakota',
    47: 'Tennessee', 48: 'Texas', 49: 'Utah', 50: 'Vermont', 51: 'Virginia',
    53: 'Washington', 54: 'West Virginia', 55: 'Wisconsin', 56: 'Wyoming',
    72: 'Puerto Rico', 99: 'Other jurisdictions'
}

# Recode the STATEFIP column
df['_state'] = df['STATEFIP'].map(state_mapping)

# Drop the original LIVARAG column
df = df.drop(columns=['STATEFIP'])

In [30]:
# Mapping of REGION values to labels
region_mapping = {
    0: 'Other jurisdictions',
    1: 'Northeast',
    2: 'Midwest',
    3: 'South',
    4: 'West'
}

# Recode the REGION column
df['_region'] = df['REGION'].map(region_mapping)

# Drop the original REGION column
df = df.drop(columns=['REGION'])

In [ ]:
# Add underscore to YEA
df = df.rename(columns={'CASEID':'_caseid',})

In [31]:
# Save the DataFrame to a CSV file
df.to_csv('../data/recoded.csv', index=False)

KeyboardInterrupt: